
@{
    ViewBag.Title = "Помилка 403";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MenuPartial")
<div class="jumbotron article">
    <h1 style="text-align: center"> :( </h1>
    <p><h2 style="text-align: center"> Упс! Здається у вас нема доступу до цього ресурсу.</h2></p>
</div>

