@model IEnumerable<GundiakProject.DomainModels.Article>

@{
    ViewBag.Title = "ArticlesPage";
}

@foreach (var atricle in Model)
{
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <img src="@atricle.ImageUrl" style="width: 200px; height: 200px" />
            </div>
            <div class="col-md-9">
                <h1>@atricle.Title</h1>
                <p class="lead">@atricle.Text</p>
                <p>@atricle.DatePublished</p>
            </div>
        </div>
    </div>
}