@{
    ViewBag.Title = "ArticlesPage";
}
@Html.Partial("_MenuPartial")
<div class="articles-container">

</div>

@section scripts{
    <script>
        $(document).ready(function() {

            var pageNum = 0;
            var enablePagin = true;
            var allArticlesCount = 0;
            var pageSize = parseInt("@Constants.ArticlesPageSize");

            articlesCount();
            articlePagination();

            function articlePagination() {
                if ($(window).data('ajaxready') === false)
                    return;
                if (enablePagin) {
                    $(window).data('ajaxready', false);
                    $.ajax({
                        url: '@Url.Action("Articles", "Articles")',
                        data: {
                            pageIndex: pageNum,
                            pageSize: pageSize
                        },
                        dataType: "html",
                        type: "Get",
                        success: function(data) {
                            pageNum++;
                            $(".articles-container").append(data);

                            var afterLoad = $(".articles-container div[data-append='true']").length;
                            if (afterLoad == allArticlesCount) {
                                enablePagin = false;
                            };

                            $(window).data('ajaxready', true);
                            if ($(window).height() >
                                $(".articles-container").height() + $(".articles-container").offset().top) {
                                articlePagination();
                            }
                        }
                    });
                }
            }

            function articlesCount() {
                if ($(window).data('ajaxready') === false)
                    return;
                $.ajax({
                    url: '@Url.Action("ActiclesCount", "Articles")',
                    dataType: "html",
                    type: "Get",
                    success: function(data) {
                        allArticlesCount = data;
                        $(window).data('ajaxready', true);
                    }
                });
            }

            $(window).on("scroll",
                function() {
                    delay(function() {
                            articlePagination();
                        },
                        90);
                });

        });
    </script>
}