@{
    ViewBag.Title = "Про нас";
}
@Html.Partial("_MenuPartial");
<div class="jumbotron" style="margin-top: 50px; overflow: hidden">
    <div class="container">
            <div class="form-group">
                <img src="~/Content/Images/People/Vatsyk.png" class="col-lg-4"/>
                <div class="col-lg-1"></div>
                    <div class="col-sm-7">
                        <p class="form-control-static"><h2><b>Вацик Віра</b></h2></p>
                        <p><b><i>Координатор та лідер групи</i></b></p>
                        <p>Щоб створити сайт, потрібно об'єднати знання і зусилля</p>
                        <p>
                            <a href="https://www.facebook.com/vira.vatsyk"><img src="~/Content/Images/Image-icons/fb.png" /></a>
                            <a href="https://telegram.me/viravatsyk"><img src="~/Content/Images/Image-icons/tg.png" /></a>
                        </p>
                    </div>
                </div>
    </div>
</div>
<div class="jumbotron" style="margin-top: 50px; overflow: hidden">
    <div class="container">
            <div class="form-group">
                <div class="col-lg-1"></div>
                <div class="col-sm-7">
                    <p class="form-control-static"><h2><b>Гундяк Володимир</b></h2></p>
                    <p><b><i>Bootstrap</i></b></p>
                    <p>Front end - моє покликання!</p>
                    <p>
                        <a href="https://vk.com/gundiak"><img src="~/Content/Images/Image-icons/vk.png" /></a>
                        <a href="https://www.facebook.com/profile.php?id=100003906043846"><img src="~/Content/Images/Image-icons/fb.png" /></a>
                        <a href="https://telegram.me/vova_ua"><img src="~/Content/Images/Image-icons/tg.png" /></a>
                        <a href="https://github.com/wolfchara"><img src="~/Content/Images/Image-icons/git.png" /></a>
                        <a href="https://www.linkedin.com/in/volodymyr-gundiak-25140615a/"><img src="~/Content/Images/Image-icons/in.png" /></a>
                   </p>
</div>
                <img src="~/Content/Images/People/Gundiak.jpg" class="col-lg-4" />
            </div>
    </div>
</div>
<div class="jumbotron" style="margin-top: 50px; overflow: hidden">
    <div class="container">
            <div class="form-group">
                <img src="~/Content/Images/People/Klementiev.jpg" class="col-lg-4" />
                <div class="col-lg-1"></div>
                <div class="col-sm-7">
                    <p class="form-control-static"><h2><b>Клементьєв Сергій</b></h2></p>
                    <p><b><i>Вбивця свого вільного часу, знаток С#</i></b></p>
                    <p>Backend'щика викликали?</p>
                    <p>
                        <a href="https://vk.com/light.dark"><img src="~/Content/Images/Image-icons/vk.png" /></a>
                        <a href="https://www.facebook.com/dark.sergey?ref=br_rs"><img src="~/Content/Images/Image-icons/fb.png" /></a>
                        <a href="https://telegram.me/Venom8097"><img src="~/Content/Images/Image-icons/tg.png" /></a>
                    </p>
                </div>
            </div>
    </div>
</div>
<div class="jumbotron" style="margin-top: 50px; overflow: hidden">
    <div class="container">
            <div class="form-group">
                <div class="col-lg-1"></div>
                <div class="col-sm-7">
                    <p class="form-control-static"><h2><b>Семків Андрій</b></h2></p>
                    <p><b><i>Майстер HTML, CSS та JS</i></b></p>
                    <p>Створить скелет сайту за секунди!</p>
                    <p>
                         <a href="https://vk.com/crazzzy_guy"><img src="~/Content/Images/Image-icons/vk.png" /></a>
                         <a href="https://www.facebook.com/andriy.semkiv.9"><img src="~/Content/Images/Image-icons/fb.png" /></a>
                         <a href="https://telegram.me/min4uk"><img src="~/Content/Images/Image-icons/tg.png" /></a>
                    </p>
                </div>
                <img src="~/Content/Images/People/Semkiv.png" class="col-lg-4" />
            </div>
    </div>
</div>
<div class="jumbotron" style="margin-top: 50px; overflow: hidden">
    <div class="container">
            <div class="form-group">
                <img src="~/Content/Images/People/Matiiv.jpg" class="col-lg-4" />
                <div class="col-lg-1"></div>
                <div class="col-sm-7">
                    <p class="form-control-static"><h2><b>Матіїв Василь</b></h2></p>
                    <p><b><i>SQL</i></b></p>
                    <p>"А зараз ми під'єднаємо базу. Ось так, чудово!"</p>
                    <p>
                        <a href="https://vk.com/id133171741"><img src="~/Content/Images/Image-icons/vk.png" /></a>
                        <a href="https://www.facebook.com/profile.php?id=100011191119423&ref=br_rs"><img src="~/Content/Images/Image-icons/fb.png" /></a>
                        <a href="https://telegram.me/matiyiv_vb"><img src="~/Content/Images/Image-icons/tg.png" /></a>
                    </p>
                </div>
            </div>
    </div>
</div>