@{
    ViewBag.Title = "Про нас";
}
@Html.Partial("_MenuPartial");
<div class="jumbotron" style="margin-top: 50px; overflow: hidden">
    <div class="container">
        <div class="form-group">
            <h2>В розробці...</h2>
        </div>
    </div>
</div>



