@{
    ViewBag.Title = "Home Page";
}

@foreach (var atricle in ViewBag.Articles)
{
    <div class="jumbotron">
        <h1>@atricle.Title</h1>
        <p class="lead">@atricle.Text</p>
        <p>@atricle.DatePublished</p>
    </div>
}


